  {% extends "navbar.html" %}
  {% block ok %} 
{% load static%}


<section class="serves" id="blog">

    <h1 class="hadding">our<span>blogs</span></h1>
    <div class="box-father">
      <div class="box">
  <div class="img">
      <img src="{% static "image/images (1).jfif" %}"width="200" height="200" >
    </div>
  <div class="contant">
    <div class="icons">
      
    </div>
    <h3>blog title goes here</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam corrupti nam blanditiis consequuntur iusto ex laboriosam, veritatis tempora? Atque, sint</p>
    <a href="#" class="btn">more<span class="fa-solid fa-circle-chevron-right"></span></a>
  </div>
  </div>
  <div class="box">
    <div class="img">
        <img src="{% static "image/169671343ef815d20808e6c9e43c5c19.png" %}"width="200" height="200" >
      </div>
    <div class="contant">
      <div class="icons">
       
      </div>
      <h3>blog title goes here</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam corrupti nam blanditiis consequuntur iusto ex laboriosam, veritatis tempora? Atque, sint</p>
      <a href="#" class="btn">more<span class="fa-solid fa-circle-chevron-right"></span></a>
    </div>
    </div>
    <div class="box">
      <div class="img">
          <img src="{% static "image/9-97177_free-png-doctor-png-images-transparent-doctor-png.png" %}" width="200" height="200">
        </div>
      <div class="contant">
        <div class="icons">
          <a href="#"></a>
          <a href="#"></a>
        </div>
        <h3>blog title goes here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam corrupti nam blanditiis consequuntur iusto ex laboriosam, veritatis tempora? Atque, sint</p>
        <a href="#" class="btn">more<span class="fa-solid fa-circle-chevron-right"></span></a>
      </div>
      </div>
  </div>
  
  
  </section>
  

{% endblock ok %}