{% comment %} {% extends "navbar.html" %} {% endcomment %}
 <style>
    * {
        box-sizing: border-box;
      }
      
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      
      /* Float four columns side by side */
      .column {
        float: left;
        width: 25%;
        padding: 0 10px;
      }
      
      /* Remove extra left and right margins, due to padding in columns */
      .row {margin: 0 -5px;}
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      /* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
      .search-field{
        /* this class is for input field, if in your code its different, just substitute the class name '.search-field' */
            padding: 10px 15px;
            min-width: 55%;
            font-size: 1rem;
            line-height: 1.5em;
            color: #373D41;
            background-color: #FFF;
            background-clip: padding-box;
            border: 1px solid #C5C5C7;
            border-radius: 6px;
            -webkit-box-shadow: none;
            box-shadow: none;
            flex-grow: 1;
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .search-submit{
        /* this class is for submit button, if in your code its different, just substitute the class name '.search-submit' */
            background-color:#1a1a1a;
            color: #ffffff;
            font-weight: 700;
            text-decoration: none;
            white-space: normal;
            -webkit-transition: none;
            transition: none;
            cursor: pointer;
            outline: 0;
            padding: 14px 24px 13px;
            font-size: 1rem;
            line-height: 1.25rem;
            border-radius: 6px;
            border-width: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .search-form .input-group{
          text-align:center;
        }
        
        /* DONT COPY THIS PART */
     
        .search-form{
          margin:30px 0;
        }
      /* Style the counter cards */
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
      }
      
      /* Responsive columns - one column layout (vertical) on small screens */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
      }</style>
<body>
  
    <form method="GET" class="search-form">
     
        <a href="{% url "home" %}">back</a>
        <div class="input-group">
            <div class="input-group2">
                <label>
                    <input type="text" class="search-field" placeholder="ادخل اسم الدكتور " name="q" value="{{ query }}">
                </label>
                <input type="submit" class="rstore-domain-search-button search-submit btn btn-primary" value="Search">
            </div>
        </div>
    </form>
 



      {% for doctors in search_doctors %}

        <div class="row">
            <div class="column">
                <img src="{{doctors.img.url}}" width="80px" height="80px" style="border-radius: 50%;" >
              <div class="card">.
                <h6>{{ doctors.name }}</h6> 
 
                <p>{{ doctors.day_in }}</p>
                <p> {{ doctors.specialization }}</p>
                     .</div>
                    </div>
            {% empty %}
            <h1 style="color:red;">No doctors found.</h1>
            {% endfor %} 
            
        
  </body>
