 {% extends "navbar.html" %}
{% block ok %} 


{% load static%}

<section class="serves" id="doctor">
    


    <h1 class="hadding">our<span>doctors</span></h1>
  
  <div class="box-father">
    <div class="box">
      <img class="im" src="{% static "image/images (2).jfif" %}">
      <h3>mare jolain</h3>
      <span class="s">expert doctor</span>
      <div class="share">
        <a href="" class="fab fa-facebook-f"></a>
        <a href="" class="fab fa-twitter"></a>
        <a href="" class="fab fa-instagram"></a>
        <a href="" class="fab fa-linkedin"></a>
        </div>
      </div>
      <div class="box">
        <img class="im" src="{% static "image/images (3).jfif" %}">
        <h3>dived jorj</h3>
        <span class="s">expert doctor</span>
        <div class="share">
          <a href="" class="fab fa-facebook-f"></a>
          <a href="" class="fab fa-twitter"></a>
          <a href="" class="fab fa-instagram"></a>
          <a href="" class="fab fa-linkedin"></a>
          </div>
        </div>
    
   
        <div class="box">
          <img class="im" src="{% static "image/images (4).jfif" %}">
          <h3>alex deo</h3>
          <span class="s">expert doctor</span>
          <div class="share">
            <a href="" class="fab fa-facebook-f"></a>
            <a href="" class="fab fa-twitter"></a>
            <a href="" class="fab fa-instagram"></a>
            <a href="" class="fab fa-linkedin"></a>
            
          </div>
        </div>
  
       
          <div class="box">
            
            <img src="{% static "image/images.jfif" %} " style="width: 150px;
            height: 150px;">
            <h3>lohn meel</h3>
            <span class="s">expert doctor</span>
            <div class="share">
              <a href="" class="fab fa-facebook-f"></a>
              <a href="" class="fab fa-twitter"></a>
              <a href="" class="fab fa-instagram"></a>
              <a href="" class="fab fa-linkedin"></a>
              
            </div>
          </div>
          
  
         
              <div class="box">
                <img class="im" src="{% static "image/file-20191203-66986-im7o5.avif" %}">
                <h3>bela khalid</h3>
                <span class="s">expert doctor</span>
                <div class="share">
                  <a href="" class="fab fa-facebook-f"></a>
                  <a href="" class="fab fa-twitter"></a>
                  <a href="" class="fab fa-instagram"></a>
                  <a href="" class="fab fa-linkedin"></a>
                  </div>
             </div>
             <div class="box">
              <img class="im" src="{% static "image/images (1).jfif" %}">
              <h3>jozef jono</h3>
              <span class="s">expert doctor</span>
              <div class="share">
                <a href="" class="fab fa-facebook-f"></a>
                <a href="" class="fab fa-twitter"></a>
                <a href="" class="fab fa-instagram"></a>
                <a href="" class="fab fa-linkedin"></a>
                </div>
           </div>
           <div class="box">
            <img class="im" src="{% static "image/file-20191203-66986-im7o5.avif" %}">
            <h3>jonathen jems</h3>
            <span class="s">expert doctor</span>
            <div class="share">
              <a href="" class="fab fa-facebook-f"></a>
              <a href="" class="fab fa-twitter"></a>
              <a href="" class="fab fa-instagram"></a>
              <a href="" class="fab fa-linkedin"></a>
              </div>
         </div>
         <div class="box">
          <img class="im" src="{% static "image/9-97177_free-png-doctor-png-images-transparent-doctor-png.png" %}">
          <h3>emily john</h3>
          <span class="s">expert doctor</span>
          <div class="share">
            <a href="" class="fab fa-facebook-f"></a>
            <a href="" class="fab fa-twitter"></a>
            <a href="" class="fab fa-instagram"></a>
            <a href="" class="fab fa-linkedin"></a>
            </div>
       </div>
       <div class="box">
        <img class="im" src="{% static "image/doctor-holding-something-white-background_1368-5813.jpg" %}">
        <h3>sande jorj</h3>
        <span class="s">expert doctor</span>
        <div class="share">
          <a href="" class="fab fa-facebook-f"></a>
          <a href="" class="fab fa-twitter"></a>
          <a href="" class="fab fa-instagram"></a>
          <a href="" class="fab fa-linkedin"></a>
          </div>
     </div>
     <div class="box">
      <img class="im" src="{% static "image/purepng.com-doctorsdoctorsdoctors-and-nursesa-qualified-practitioner-of-medicine-aclinicianmedical-practitionermale-doctornotepad-1421526857009zrma0.png" %}">
      <h3>jakop lono</h3>
      <span class="s">expert doctor</span>
      <div class="share">
        <a href="" class="fab fa-facebook-f"></a>
        <a href="" class="fab fa-twitter"></a>
        <a href="" class="fab fa-instagram"></a>
        <a href="" class="fab fa-linkedin"></a>
        </div>
   </div>
            </div>
  </section>
  
  {% endblock ok %}
 

  